@import "../../styles/index.scss";


#technologies{

    margin-top: 100px;

    .technologies{
        display: flex;  
        width: 100%;
        flex-direction: column;
    
        .boxes{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 60px;
        }
    
        .box{
            background-color: white;
            border-radius: $radius;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
    
            img{
                height: 60px;
            }
        }
    }
}

