@import "../../../styles/index.scss";


#PagesOffer{

    img{
        width: 100%;
    }
    h3{
        color: $light-blue;
    }

    .top{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 50px;

    .right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 280px;

    }    
    }

    @include for-Extra-Small-devices {
        h3,p{
            text-align: center;
        }

        .top, .right{
                flex-direction: column;
                width: 100% !important;
        }

        .github-link{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }


}