@import "../../../styles/index.scss";



#skils{
    

    .skils{
        background-color: $dark-blue;
        border-radius: $radius;
    }

    .inner{
        display: flex;
        justify-content: space-between;
        padding: 40px 100px;

     

        .col{
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: 10px;

            .item{
                width: 100%;
                margin-top: 10px;
                margin-bottom: 10px;
                
                h5{
                    color: white;
                    padding-bottom: 10px;
                }

                .progressbar{
            
                div{
                    overflow: initial !important;
                    div{
                        position: relative;
                        left: -2px;
                        background-color: $light-blue !important;
                        justify-content: center !important;
                    }
                }
       

            }


            }
        }
    }


    @include for-Extra-Small-devices {

        .skils{
            margin-top: 30px;
        }

        .inner{
            flex-direction: column;
            padding: 40px 20px;
            align-items: center;

            .col{
                width: 100%;
                margin: 0px;
            }
        }        
    }

    @include for-Small-devices {
        .inner {    
            padding: 40px 25px;
          }

          h5 {
            font-size: 13px;
          }
    }

    
    @include for-Medium-devices {
           h5 {
            font-size: 15px;
          }
    }

}
