@import "../../styles/index.scss";

#contact{
    background-color: $dark-blue;
    color: white;
    

    .contact{
        padding: 70px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        
        @media (max-width: $Small) {
            flex-direction: column;
            .btn{
                width: 100%;
            }
         }

         @media (min-width: $Small) and (max-width: $Large){
            flex-direction: column;          
         }


        .btn-light{
            color: $dark-blue;
            background-color: white;
            margin-right: 200px;
        }

    }

}